.fullScreenContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: white; /* TODO: move this into another class */
  z-index: 1000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.globalBodyStyle {
  font-family: Arial, sans-serif;
}
